NET "button<0>" LOC = P57 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<1>" LOC = P66 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<2>" LOC = P74 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<3>" LOC = P78 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<4>" LOC = P80 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<5>" LOC = P82 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<6>" LOC = P84 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<7>" LOC = P87 | IOSTANDARD = LVTTL | PULLDOWN;

NET "display_seg<0>" LOC = P51 | IOSTANDARD = LVTTL;
NET "display_seg<1>" LOC = P41 | IOSTANDARD = LVTTL;
NET "display_seg<2>" LOC = P35 | IOSTANDARD = LVTTL;
NET "display_seg<3>" LOC = P33 | IOSTANDARD = LVTTL;
NET "display_seg<4>" LOC = P30 | IOSTANDARD = LVTTL;
NET "display_seg<5>" LOC = P27 | IOSTANDARD = LVTTL;
NET "display_seg<6>" LOC = P24 | IOSTANDARD = LVTTL;

NET "target<0>" LOC = P95 | IOSTANDARD = LVTTL;
NET "target<1>" LOC = P98 | IOSTANDARD = LVTTL;
NET "target<2>" LOC = P100 | IOSTANDARD = LVTTL;
NET "target<3>" LOC = P102 | IOSTANDARD = LVTTL;
NET "target<4>" LOC = P105 | IOSTANDARD = LVTTL;
NET "target<5>" LOC = P112 | IOSTANDARD = LVTTL;
NET "target<6>" LOC = P115 | IOSTANDARD = LVTTL;

NET "target<7>" LOC = P58 | IOSTANDARD = LVTTL;
NET "target<8>" LOC = P67 | IOSTANDARD = LVTTL;
NET "target<9>" LOC = P75 | IOSTANDARD = LVTTL;
NET "target<10>" LOC = P79 | IOSTANDARD = LVTTL;
NET "target<11>" LOC = P81 | IOSTANDARD = LVTTL;
NET "target<12>" LOC = P83 | IOSTANDARD = LVTTL;
NET "target<13>" LOC = P85 | IOSTANDARD = LVTTL;
