//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 02 19:12:18 2019
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "target[10]" LOCATE = SITE "P79" LEVEL 1;
COMP "target[11]" LOCATE = SITE "P81" LEVEL 1;
COMP "target[12]" LOCATE = SITE "P83" LEVEL 1;
COMP "target[13]" LOCATE = SITE "P85" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "button[0]" LOCATE = SITE "P57" LEVEL 1;
COMP "button[1]" LOCATE = SITE "P66" LEVEL 1;
COMP "button[2]" LOCATE = SITE "P74" LEVEL 1;
COMP "button[3]" LOCATE = SITE "P78" LEVEL 1;
COMP "button[4]" LOCATE = SITE "P80" LEVEL 1;
COMP "button[5]" LOCATE = SITE "P82" LEVEL 1;
COMP "button[6]" LOCATE = SITE "P84" LEVEL 1;
COMP "button[7]" LOCATE = SITE "P87" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "opr_display" LOCATE = SITE "P121" LEVEL 1;
COMP "target[0]" LOCATE = SITE "P95" LEVEL 1;
COMP "target[1]" LOCATE = SITE "P98" LEVEL 1;
COMP "target[2]" LOCATE = SITE "P100" LEVEL 1;
COMP "target[3]" LOCATE = SITE "P102" LEVEL 1;
COMP "target[4]" LOCATE = SITE "P105" LEVEL 1;
COMP "target[5]" LOCATE = SITE "P112" LEVEL 1;
COMP "target[6]" LOCATE = SITE "P115" LEVEL 1;
COMP "target[7]" LOCATE = SITE "P58" LEVEL 1;
COMP "target[8]" LOCATE = SITE "P67" LEVEL 1;
COMP "target[9]" LOCATE = SITE "P75" LEVEL 1;
COMP "led[0]" LOCATE = SITE "P134" LEVEL 1;
COMP "led[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "led[2]" LOCATE = SITE "P132" LEVEL 1;
COMP "led[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "led[4]" LOCATE = SITE "P127" LEVEL 1;
COMP "led[5]" LOCATE = SITE "P126" LEVEL 1;
COMP "led[6]" LOCATE = SITE "P124" LEVEL 1;
COMP "led[7]" LOCATE = SITE "P123" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "display_seg[0]" LOCATE = SITE "P51" LEVEL 1;
COMP "display_seg[1]" LOCATE = SITE "P41" LEVEL 1;
COMP "display_seg[2]" LOCATE = SITE "P35" LEVEL 1;
COMP "display_seg[3]" LOCATE = SITE "P33" LEVEL 1;
COMP "display_seg[4]" LOCATE = SITE "P30" LEVEL 1;
COMP "display_seg[5]" LOCATE = SITE "P27" LEVEL 1;
COMP "display_seg[6]" LOCATE = SITE "P24" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
TIMEGRP clk = BEL "beta/edge_detector_gen_0[2].edge_detector/M_last_q" BEL
        "beta/game_regfiles/M_r_q_12" BEL "beta/game_regfiles/M_r_q_13" BEL
        "beta/game_regfiles/M_r_q_14" BEL "beta/game_regfiles/M_r_q_20" BEL
        "beta/game_regfiles/M_r_q_15" BEL "beta/game_regfiles/M_r_q_21" BEL
        "beta/game_regfiles/M_r_q_16" BEL "beta/game_regfiles/M_r_q_22" BEL
        "beta/game_regfiles/M_r_q_17" BEL "beta/game_regfiles/M_r_q_23" BEL
        "beta/game_regfiles/M_r_q_18" BEL "beta/game_regfiles/M_r_q_24" BEL
        "beta/game_regfiles/M_r_q_19" BEL "beta/game_regfiles/M_r_q_30" BEL
        "beta/game_regfiles/M_r_q_25" BEL "beta/game_regfiles/M_r_q_31" BEL
        "beta/game_regfiles/M_r_q_26" BEL "beta/game_regfiles/M_r_q_32" BEL
        "beta/game_regfiles/M_r_q_27" BEL "beta/game_regfiles/M_r_q_33" BEL
        "beta/game_regfiles/M_r_q_28" BEL "beta/game_regfiles/M_r_q_34" BEL
        "beta/game_regfiles/M_r_q_29" BEL "beta/game_regfiles/M_r_q_40" BEL
        "beta/game_regfiles/M_r_q_35" BEL "beta/game_regfiles/M_r_q_36" BEL
        "beta/game_regfiles/M_r_q_41" BEL "beta/game_regfiles/M_r_q_37" BEL
        "beta/game_regfiles/M_r_q_42" BEL "beta/game_regfiles/M_r_q_38" BEL
        "beta/game_regfiles/M_r_q_43" BEL "beta/game_regfiles/M_r_q_39" BEL
        "beta/game_regfiles/M_r_q_44" BEL "beta/game_regfiles/M_r_q_45" BEL
        "beta/game_regfiles/M_r_q_50" BEL "beta/game_regfiles/M_r_q_46" BEL
        "beta/game_regfiles/M_r_q_51" BEL "beta/game_regfiles/M_r_q_47" BEL
        "beta/game_regfiles/M_r_q_52" BEL "beta/game_regfiles/M_r_q_48" BEL
        "beta/game_regfiles/M_r_q_53" BEL "beta/game_regfiles/M_r_q_49" BEL
        "beta/game_regfiles/M_r_q_54" BEL "beta/game_regfiles/M_r_q_55" BEL
        "beta/game_regfiles/M_r_q_60" BEL "beta/game_regfiles/M_r_q_56" BEL
        "beta/game_regfiles/M_r_q_61" BEL "beta/game_regfiles/M_r_q_57" BEL
        "beta/game_regfiles/M_r_q_62" BEL "beta/game_regfiles/M_r_q_58" BEL
        "beta/game_regfiles/M_r_q_63" BEL "beta/game_regfiles/M_r_q_59" BEL
        "beta/game_regfiles/M_r_q_64" BEL "beta/game_regfiles/M_r_q_65" BEL
        "beta/game_regfiles/M_r_q_70" BEL "beta/game_regfiles/M_r_q_66" BEL
        "beta/game_regfiles/M_r_q_71" BEL "beta/game_regfiles/M_r_q_67" BEL
        "beta/game_regfiles/M_r_q_72" BEL "beta/game_regfiles/M_r_q_68" BEL
        "beta/game_regfiles/M_r_q_73" BEL "beta/game_regfiles/M_r_q_69" BEL
        "beta/game_regfiles/M_r_q_74" BEL "beta/game_regfiles/M_r_q_75" BEL
        "beta/game_regfiles/M_r_q_80" BEL "beta/game_regfiles/M_r_q_76" BEL
        "beta/game_regfiles/M_r_q_81" BEL "beta/game_regfiles/M_r_q_77" BEL
        "beta/game_regfiles/M_r_q_82" BEL "beta/game_regfiles/M_r_q_78" BEL
        "beta/game_regfiles/M_r_q_83" BEL "beta/game_regfiles/M_r_q_79" BEL
        "beta/game_regfiles/M_r_q_84" BEL "beta/game_regfiles/M_r_q_85" BEL
        "beta/game_regfiles/M_r_q_90" BEL "beta/game_regfiles/M_r_q_100" BEL
        "beta/game_regfiles/M_r_q_86" BEL "beta/game_regfiles/M_r_q_91" BEL
        "beta/game_regfiles/M_r_q_101" BEL "beta/game_regfiles/M_r_q_87" BEL
        "beta/game_regfiles/M_r_q_92" BEL "beta/game_regfiles/M_r_q_102" BEL
        "beta/game_regfiles/M_r_q_88" BEL "beta/game_regfiles/M_r_q_93" BEL
        "beta/game_regfiles/M_r_q_103" BEL "beta/game_regfiles/M_r_q_89" BEL
        "beta/game_regfiles/M_r_q_94" BEL "beta/game_regfiles/M_r_q_104" BEL
        "beta/game_regfiles/M_r_q_95" BEL "beta/game_regfiles/M_r_q_105" BEL
        "beta/game_regfiles/M_r_q_110" BEL "beta/game_regfiles/M_r_q_96" BEL
        "beta/game_regfiles/M_r_q_106" BEL "beta/game_regfiles/M_r_q_111" BEL
        "beta/game_regfiles/M_r_q_97" BEL "beta/game_regfiles/M_r_q_107" BEL
        "beta/game_regfiles/M_r_q_112" BEL "beta/game_regfiles/M_r_q_98" BEL
        "beta/game_regfiles/M_r_q_108" BEL "beta/game_regfiles/M_r_q_113" BEL
        "beta/game_regfiles/M_r_q_99" BEL "beta/game_regfiles/M_r_q_109" BEL
        "beta/game_regfiles/M_r_q_114" BEL "beta/game_regfiles/M_r_q_115" BEL
        "beta/game_regfiles/M_r_q_120" BEL "beta/game_regfiles/M_r_q_116" BEL
        "beta/game_regfiles/M_r_q_121" BEL "beta/game_regfiles/M_r_q_117" BEL
        "beta/game_regfiles/M_r_q_122" BEL "beta/game_regfiles/M_r_q_118" BEL
        "beta/game_regfiles/M_r_q_123" BEL "beta/game_regfiles/M_r_q_119" BEL
        "beta/game_regfiles/M_r_q_124" BEL "beta/game_regfiles/M_r_q_125" BEL
        "beta/game_regfiles/M_r_q_126" BEL "beta/game_regfiles/M_r_q_127" BEL
        "beta/game_regfiles/M_targetnumber_q_0" BEL
        "beta/game_regfiles/M_targetnumber_q_1" BEL
        "beta/game_regfiles/M_targetnumber_q_2" BEL
        "beta/game_regfiles/M_targetnumber_q_3" BEL
        "beta/game_regfiles/M_temp_q_10" BEL "beta/game_regfiles/M_temp_q_11"
        BEL "beta/game_regfiles/M_temp_q_12" BEL
        "beta/game_regfiles/M_temp_q_13" BEL "beta/game_regfiles/M_temp_q_14"
        BEL "beta/game_regfiles/M_temp_q_15" BEL
        "beta/game_regfiles/M_card_a_index_q_0" BEL
        "beta/game_regfiles/M_card_a_index_q_1" BEL
        "beta/game_regfiles/M_card_a_index_q_2" BEL
        "beta/game_regfiles/M_opr_q_0" BEL "beta/game_regfiles/M_card_b_q_0"
        BEL "beta/game_regfiles/M_card_b_q_1" BEL
        "beta/game_regfiles/M_card_b_q_2" BEL
        "beta/game_regfiles/M_card_b_index_q_0" BEL
        "beta/game_regfiles/M_card_b_q_3" BEL
        "beta/game_regfiles/M_card_b_index_q_1" BEL
        "beta/game_regfiles/M_card_b_q_4" BEL
        "beta/game_regfiles/M_card_b_index_q_2" BEL
        "beta/game_regfiles/M_card_b_q_5" BEL
        "beta/game_regfiles/M_card_b_q_6" BEL
        "beta/game_regfiles/M_card_b_q_7" BEL
        "beta/game_regfiles/M_card_b_q_8" BEL
        "beta/game_regfiles/M_card_b_q_9" BEL
        "beta/game_regfiles/M_card_a_q_0" BEL
        "beta/game_regfiles/M_card_a_q_1" BEL
        "beta/game_regfiles/M_card_a_q_2" BEL
        "beta/game_regfiles/M_card_a_q_3" BEL
        "beta/game_regfiles/M_card_a_q_4" BEL
        "beta/game_regfiles/M_card_a_q_5" BEL
        "beta/game_regfiles/M_card_a_q_6" BEL
        "beta/game_regfiles/M_card_a_q_7" BEL
        "beta/game_regfiles/M_card_a_q_8" BEL
        "beta/game_regfiles/M_card_a_q_9" BEL "beta/game_regfiles/M_temp_q_0"
        BEL "beta/game_regfiles/M_temp_q_1" BEL
        "beta/game_regfiles/M_temp_q_2" BEL "beta/game_regfiles/M_temp_q_3"
        BEL "beta/game_regfiles/M_temp_q_4" BEL
        "beta/game_regfiles/M_temp_q_5" BEL "beta/game_regfiles/M_temp_q_6"
        BEL "beta/game_regfiles/M_temp_q_7" BEL
        "beta/game_regfiles/M_temp_q_8" BEL "beta/game_regfiles/M_temp_q_9"
        BEL "beta/game_regfiles/M_card_a_q_10" BEL
        "beta/game_regfiles/M_card_a_q_11" BEL
        "beta/game_regfiles/M_card_a_q_12" BEL
        "beta/game_regfiles/M_card_a_q_13" BEL
        "beta/game_regfiles/M_card_a_q_14" BEL
        "beta/game_regfiles/M_card_a_q_15" BEL
        "beta/game_regfiles/M_card_b_q_10" BEL
        "beta/game_regfiles/M_card_b_q_11" BEL
        "beta/game_regfiles/M_card_b_q_12" BEL
        "beta/game_regfiles/M_card_b_q_13" BEL
        "beta/game_regfiles/M_card_b_q_14" BEL
        "beta/game_regfiles/M_card_b_q_15" BEL "beta/game_regfiles/M_r_q_0"
        BEL "beta/game_regfiles/M_r_q_1" BEL "beta/game_regfiles/M_r_q_2" BEL
        "beta/game_regfiles/M_r_q_3" BEL "beta/game_regfiles/M_r_q_4" BEL
        "beta/game_regfiles/M_r_q_5" BEL "beta/game_regfiles/M_r_q_6" BEL
        "beta/game_regfiles/M_r_q_7" BEL "beta/game_regfiles/M_r_q_8" BEL
        "beta/game_regfiles/M_r_q_9" BEL "beta/game_regfiles/M_r_q_10" BEL
        "beta/game_regfiles/M_r_q_11" BEL
        "beta/edge_detector_gen_0[4].edge_detector/M_last_q" BEL
        "beta/edge_detector_gen_0[7].edge_detector/M_last_q" BEL
        "beta/ran/M_y_q_31" BEL "beta/ran/M_y_q_29" BEL "beta/ran/M_y_q_28"
        BEL "beta/ran/M_y_q_27" BEL "beta/ran/M_y_q_26" BEL
        "beta/ran/M_y_q_24" BEL "beta/ran/M_y_q_23" BEL "beta/ran/M_y_q_22"
        BEL "beta/ran/M_y_q_18" BEL "beta/ran/M_y_q_15" BEL
        "beta/ran/M_y_q_12" BEL "beta/ran/M_y_q_11" BEL "beta/ran/M_y_q_10"
        BEL "beta/ran/M_y_q_8" BEL "beta/ran/M_y_q_7" BEL "beta/ran/M_y_q_6"
        BEL "beta/ran/M_y_q_4" BEL "beta/ran/M_y_q_3" BEL "beta/ran/M_y_q_1"
        BEL "beta/ran/M_z_q_31" BEL "beta/ran/M_z_q_30" BEL
        "beta/ran/M_z_q_26" BEL "beta/ran/M_z_q_24" BEL "beta/ran/M_z_q_23"
        BEL "beta/ran/M_z_q_20" BEL "beta/ran/M_z_q_19" BEL
        "beta/ran/M_z_q_18" BEL "beta/ran/M_z_q_17" BEL "beta/ran/M_z_q_15"
        BEL "beta/ran/M_z_q_14" BEL "beta/ran/M_z_q_10" BEL "beta/ran/M_z_q_9"
        BEL "beta/ran/M_z_q_7" BEL "beta/ran/M_z_q_4" BEL "beta/ran/M_z_q_3"
        BEL "beta/ran/M_z_q_0" BEL "beta/ran/M_w_q_30" BEL "beta/ran/M_w_q_29"
        BEL "beta/ran/M_w_q_28" BEL "beta/ran/M_w_q_27" BEL
        "beta/ran/M_w_q_25" BEL "beta/ran/M_w_q_24" BEL "beta/ran/M_w_q_23"
        BEL "beta/ran/M_w_q_22" BEL "beta/ran/M_w_q_19" BEL
        "beta/ran/M_w_q_18" BEL "beta/ran/M_w_q_16" BEL "beta/ran/M_w_q_15"
        BEL "beta/ran/M_w_q_14" BEL "beta/ran/M_w_q_11" BEL
        "beta/ran/M_w_q_10" BEL "beta/ran/M_w_q_7" BEL "beta/ran/M_w_q_5" BEL
        "beta/ran/M_w_q_3" BEL "beta/ran/M_w_q_2" BEL "beta/ran/M_x_q_31" BEL
        "beta/ran/M_x_q_28" BEL "beta/ran/M_x_q_27" BEL "beta/ran/M_x_q_26"
        BEL "beta/ran/M_x_q_24" BEL "beta/ran/M_x_q_23" BEL
        "beta/ran/M_x_q_21" BEL "beta/ran/M_x_q_18" BEL "beta/ran/M_x_q_17"
        BEL "beta/ran/M_x_q_15" BEL "beta/ran/M_x_q_14" BEL
        "beta/ran/M_x_q_12" BEL "beta/ran/M_x_q_9" BEL "beta/ran/M_x_q_8" BEL
        "beta/ran/M_x_q_7" BEL "beta/ran/M_x_q_4" BEL "beta/ran/M_x_q_3" BEL
        "beta/ran/M_x_q_2" BEL "beta/ran/M_x_q_0" BEL "beta/ran/M_y_q_30" BEL
        "beta/ran/M_y_q_25" BEL "beta/ran/M_y_q_21" BEL "beta/ran/M_y_q_20"
        BEL "beta/ran/M_y_q_19" BEL "beta/ran/M_y_q_17" BEL
        "beta/ran/M_y_q_16" BEL "beta/ran/M_y_q_14" BEL "beta/ran/M_y_q_13"
        BEL "beta/ran/M_y_q_9" BEL "beta/ran/M_y_q_5" BEL "beta/ran/M_y_q_2"
        BEL "beta/ran/M_y_q_0" BEL "beta/ran/M_z_q_29" BEL "beta/ran/M_z_q_28"
        BEL "beta/ran/M_z_q_27" BEL "beta/ran/M_z_q_25" BEL
        "beta/ran/M_z_q_22" BEL "beta/ran/M_z_q_21" BEL "beta/ran/M_z_q_16"
        BEL "beta/ran/M_z_q_13" BEL "beta/ran/M_z_q_12" BEL
        "beta/ran/M_z_q_11" BEL "beta/ran/M_z_q_8" BEL "beta/ran/M_z_q_6" BEL
        "beta/ran/M_z_q_5" BEL "beta/ran/M_z_q_2" BEL "beta/ran/M_z_q_1" BEL
        "beta/ran/M_w_q_31" BEL "beta/ran/M_w_q_26" BEL "beta/ran/M_w_q_21"
        BEL "beta/ran/M_w_q_20" BEL "beta/ran/M_w_q_17" BEL
        "beta/ran/M_w_q_13" BEL "beta/ran/M_w_q_12" BEL "beta/ran/M_w_q_9" BEL
        "beta/ran/M_w_q_8" BEL "beta/ran/M_w_q_6" BEL "beta/ran/M_w_q_4" BEL
        "beta/ran/M_w_q_1" BEL "beta/ran/M_w_q_0" BEL "beta/ran/M_x_q_30" BEL
        "beta/ran/M_x_q_29" BEL "beta/ran/M_x_q_25" BEL "beta/ran/M_x_q_22"
        BEL "beta/ran/M_x_q_20" BEL "beta/ran/M_x_q_19" BEL
        "beta/ran/M_x_q_16" BEL "beta/ran/M_x_q_13" BEL "beta/ran/M_x_q_11"
        BEL "beta/ran/M_x_q_10" BEL "beta/ran/M_x_q_6" BEL "beta/ran/M_x_q_5"
        BEL "beta/ran/M_x_q_1" BEL "beta/ran/M_w_q_3_1" BEL
        "beta/ran/M_w_q_2_1" BEL "beta/ran/M_w_q_1_1" BEL "beta/ran/M_w_q_3_2"
        BEL "beta/ran/M_w_q_0_1" BEL
        "beta/game_controlunit/M_target_display_dff_q_0" BEL
        "beta/game_controlunit/M_target_display_dff_q_1" BEL
        "beta/game_controlunit/M_target_display_dff_q_2" BEL
        "beta/game_controlunit/M_target_display_dff_q_3" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_10" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_11" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_12" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_13" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_14" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_15" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_20" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_16" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_21" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_17" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_22" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_18" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_23" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_19" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_24" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_25" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_30" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_26" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_31" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_27" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_32" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_28" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_33" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_29" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_34" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_35" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_40" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_36" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_41" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_42" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_37" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_38" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_43" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_39" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_44" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_45" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_50" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_46" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_51" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_52" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_47" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_48" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_53" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_49" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_54" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_55" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_60" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_56" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_61" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_62" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_57" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_58" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_63" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_64" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_59" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_65" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_70" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_71" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_66" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_72" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_67" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_68" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_73" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_69" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_74" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_75" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_80" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_81" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_76" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_82" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_77" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_78" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_83" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_79" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_84" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_85" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_90" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_91" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_86" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_92" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_87" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_88" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_93" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_89" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_94" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_95" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_96" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_97" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_98" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_99" BEL
        "beta/game_controlunit/M_numIncre_q_0" BEL
        "beta/game_controlunit/M_numIncre_q_1" BEL
        "beta/game_controlunit/M_numIncre_q_2" BEL
        "beta/game_controlunit/M_numIncre_q_3" BEL
        "beta/game_controlunit/M_numIncre_q_4" BEL
        "beta/game_controlunit/M_numIncre_q_5" BEL
        "beta/game_controlunit/M_numIncre_q_6" BEL
        "beta/game_controlunit/M_numIncre_q_7" BEL
        "beta/game_controlunit/M_numIncre_q_8" BEL
        "beta/game_controlunit/M_numIncre_q_9" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd1" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd2" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd3" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd4" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd5" BEL
        "beta/game_controlunit/M_little_timer_q_10" BEL
        "beta/game_controlunit/M_little_timer_q_11" BEL
        "beta/game_controlunit/M_little_timer_q_12" BEL
        "beta/game_controlunit/M_little_timer_q_13" BEL
        "beta/game_controlunit/M_little_timer_q_14" BEL
        "beta/game_controlunit/M_little_timer_q_15" BEL
        "beta/game_controlunit/M_little_timer_q_20" BEL
        "beta/game_controlunit/M_little_timer_q_16" BEL
        "beta/game_controlunit/M_little_timer_q_21" BEL
        "beta/game_controlunit/M_little_timer_q_17" BEL
        "beta/game_controlunit/M_little_timer_q_22" BEL
        "beta/game_controlunit/M_little_timer_q_18" BEL
        "beta/game_controlunit/M_little_timer_q_23" BEL
        "beta/game_controlunit/M_little_timer_q_24" BEL
        "beta/game_controlunit/M_little_timer_q_19" BEL
        "beta/game_controlunit/M_little_timer_q_25" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_100" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_101" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_102" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_103" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_104" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_110" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_105" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_106" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_111" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_112" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_107" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_108" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_113" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_114" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_109" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_120" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_115" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_121" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_116" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_122" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_117" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_123" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_118" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_124" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_119" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_125" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_126" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_127" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_0" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_1" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_2" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_3" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_4" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_5" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_6" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_7" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_8" BEL
        "beta/game_controlunit/M_s_seg_display_dff_q_9" BEL
        "beta/game_controlunit/M_little_timer_q_0" BEL
        "beta/game_controlunit/M_little_timer_q_1" BEL
        "beta/game_controlunit/M_little_timer_q_2" BEL
        "beta/game_controlunit/M_little_timer_q_3" BEL
        "beta/game_controlunit/M_little_timer_q_4" BEL
        "beta/game_controlunit/M_little_timer_q_5" BEL
        "beta/game_controlunit/M_little_timer_q_6" BEL
        "beta/game_controlunit/M_little_timer_q_7" BEL
        "beta/game_controlunit/M_little_timer_q_8" BEL
        "beta/game_controlunit/M_little_timer_q_9" BEL
        "beta/game_controlunit/M_numIncre_q_10" BEL
        "beta/game_controlunit/M_numIncre_q_11" BEL
        "beta/game_controlunit/M_numIncre_q_12" BEL
        "beta/game_controlunit/M_numIncre_q_13" BEL
        "beta/game_controlunit/M_numIncre_q_14" BEL
        "beta/game_controlunit/M_numIncre_q_15" BEL
        "beta/game_controlunit/M_numIncre_q_16" BEL
        "beta/game_controlunit/M_numIncre_q_17" BEL
        "beta/game_controlunit/M_numIncre_q_18" BEL
        "beta/game_controlunit/M_numIncre_q_19" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd1_1" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd1_2" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd1_3" BEL
        "beta/game_controlunit/M_opr_display_dff_q_0" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd2_1" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd2_2" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd3_1" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd3_2" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd4_1" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd4_2" BEL
        "beta/game_controlunit/M_state_q_FSM_FFd5_1" BEL
        "beta/edge_detector_gen_0[1].edge_detector/M_last_q" BEL
        "beta/edge_detector_gen_0[3].edge_detector/M_last_q" BEL
        "beta/edge_detector_gen_0[6].edge_detector/M_last_q" BEL
        "beta/edge_detector_gen_0[5].edge_detector/M_last_q" BEL
        "beta/edge_detector_gen_0[0].edge_detector/M_last_q" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_19" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_18" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_17" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_16" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_15" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_14" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_13" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_12" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_11" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_10" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_9" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_8" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_7" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_6" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_5" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_4" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_3" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_2" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_1" BEL
        "beta/button_cond_gen_0[3].button_cond/M_ctr_q_0" BEL
        "beta/button_cond_gen_0[3].button_cond/sync/M_pipe_q_1" BEL
        "beta/button_cond_gen_0[3].button_cond/sync/Mshreg_M_pipe_q_1" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_19" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_18" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_17" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_16" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_15" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_14" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_13" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_12" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_11" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_10" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_9" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_8" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_7" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_6" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_5" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_4" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_3" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_2" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_1" BEL
        "beta/button_cond_gen_0[7].button_cond/M_ctr_q_0" BEL
        "beta/button_cond_gen_0[7].button_cond/sync/M_pipe_q_1" BEL
        "beta/button_cond_gen_0[7].button_cond/sync/Mshreg_M_pipe_q_1" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_19" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_18" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_17" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_16" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_15" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_14" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_13" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_12" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_11" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_10" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_9" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_8" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_7" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_6" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_5" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_4" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_3" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_2" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_1" BEL
        "beta/button_cond_gen_0[1].button_cond/M_ctr_q_0" BEL
        "beta/button_cond_gen_0[1].button_cond/sync/M_pipe_q_1" BEL
        "beta/button_cond_gen_0[1].button_cond/sync/Mshreg_M_pipe_q_1" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_19" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_18" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_17" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_16" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_15" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_14" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_13" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_12" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_11" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_10" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_9" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_8" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_7" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_6" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_5" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_4" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_3" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_2" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_1" BEL
        "beta/button_cond_gen_0[2].button_cond/M_ctr_q_0" BEL
        "beta/button_cond_gen_0[2].button_cond/sync/M_pipe_q_1" BEL
        "beta/button_cond_gen_0[2].button_cond/sync/Mshreg_M_pipe_q_1" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_19" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_18" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_17" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_16" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_15" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_14" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_13" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_12" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_11" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_10" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_9" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_8" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_7" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_6" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_5" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_4" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_3" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_2" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_1" BEL
        "beta/button_cond_gen_0[6].button_cond/M_ctr_q_0" BEL
        "beta/button_cond_gen_0[6].button_cond/sync/M_pipe_q_1" BEL
        "beta/button_cond_gen_0[6].button_cond/sync/Mshreg_M_pipe_q_1" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_19" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_18" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_17" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_16" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_15" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_14" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_13" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_12" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_11" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_10" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_9" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_8" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_7" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_6" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_5" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_4" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_3" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_2" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_1" BEL
        "beta/button_cond_gen_0[0].button_cond/M_ctr_q_0" BEL
        "beta/button_cond_gen_0[0].button_cond/sync/M_pipe_q_1" BEL
        "beta/button_cond_gen_0[0].button_cond/sync/Mshreg_M_pipe_q_1" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_19" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_18" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_17" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_16" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_15" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_14" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_13" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_12" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_11" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_10" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_9" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_8" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_7" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_6" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_5" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_4" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_3" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_2" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_1" BEL
        "beta/button_cond_gen_0[4].button_cond/M_ctr_q_0" BEL
        "beta/button_cond_gen_0[4].button_cond/sync/M_pipe_q_1" BEL
        "beta/button_cond_gen_0[4].button_cond/sync/Mshreg_M_pipe_q_1" BEL
        "beta/timer/M_result_q" BEL "beta/timer/ctr/M_ctr_q_32" BEL
        "beta/timer/ctr/M_ctr_q_31" BEL "beta/timer/ctr/M_ctr_q_30" BEL
        "beta/timer/ctr/M_ctr_q_29" BEL "beta/timer/ctr/M_ctr_q_28" BEL
        "beta/timer/ctr/M_ctr_q_27" BEL "beta/timer/ctr/M_ctr_q_26" BEL
        "beta/timer/ctr/M_ctr_q_25" BEL "beta/timer/ctr/M_ctr_q_24" BEL
        "beta/timer/ctr/M_ctr_q_23" BEL "beta/timer/ctr/M_ctr_q_22" BEL
        "beta/timer/ctr/M_ctr_q_21" BEL "beta/timer/ctr/M_ctr_q_20" BEL
        "beta/timer/ctr/M_ctr_q_19" BEL "beta/timer/ctr/M_ctr_q_18" BEL
        "beta/timer/ctr/M_ctr_q_17" BEL "beta/timer/ctr/M_ctr_q_16" BEL
        "beta/timer/ctr/M_ctr_q_15" BEL "beta/timer/ctr/M_ctr_q_14" BEL
        "beta/timer/ctr/M_ctr_q_13" BEL "beta/timer/ctr/M_ctr_q_12" BEL
        "beta/timer/ctr/M_ctr_q_11" BEL "beta/timer/ctr/M_ctr_q_10" BEL
        "beta/timer/ctr/M_ctr_q_9" BEL "beta/timer/ctr/M_ctr_q_8" BEL
        "beta/timer/ctr/M_ctr_q_7" BEL "beta/timer/ctr/M_ctr_q_6" BEL
        "beta/timer/ctr/M_ctr_q_5" BEL "beta/timer/ctr/M_ctr_q_4" BEL
        "beta/timer/ctr/M_ctr_q_3" BEL "beta/timer/ctr/M_ctr_q_2" BEL
        "beta/timer/ctr/M_ctr_q_1" BEL "beta/timer/ctr/M_ctr_q_0" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_19" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_18" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_17" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_16" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_15" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_14" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_13" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_12" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_11" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_10" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_9" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_8" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_7" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_6" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_5" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_4" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_3" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_2" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_1" BEL
        "beta/button_cond_gen_0[5].button_cond/M_ctr_q_0" BEL
        "beta/button_cond_gen_0[5].button_cond/sync/M_pipe_q_1" BEL
        "beta/button_cond_gen_0[5].button_cond/sync/Mshreg_M_pipe_q_1" BEL
        "clk_BUFGP/BUFG" BEL "reset_cond/M_stage_q_3" BEL
        "reset_cond/M_stage_q_2" BEL "reset_cond/M_stage_q_1" BEL
        "reset_cond/M_stage_q_0" BEL "numbersDisplay/ctr/M_ctr_q_0" BEL
        "numbersDisplay/ctr/M_ctr_q_1" BEL "numbersDisplay/ctr/M_ctr_q_2" BEL
        "numbersDisplay/ctr/M_ctr_q_3" BEL "numbersDisplay/ctr/M_ctr_q_4" BEL
        "numbersDisplay/ctr/M_ctr_q_5" BEL "numbersDisplay/ctr/M_ctr_q_6" BEL
        "numbersDisplay/ctr/M_ctr_q_7" BEL "numbersDisplay/ctr/M_ctr_q_8" BEL
        "numbersDisplay/ctr/M_ctr_q_9" BEL "numbersDisplay/ctr/M_ctr_q_10" BEL
        "numbersDisplay/ctr/M_ctr_q_11" BEL "numbersDisplay/ctr/M_ctr_q_12"
        BEL "numbersDisplay/ctr/M_ctr_q_13" BEL
        "numbersDisplay/ctr/M_ctr_q_14" BEL "numbersDisplay/ctr/M_ctr_q_15"
        BEL "numbersDisplay/ctr/M_ctr_q_16" BEL
        "numbersDisplay/ctr/M_ctr_q_17" BEL "numbersDisplay/ctr/M_ctr_q_18";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

