NET "button" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "display_seg<0>" LOC = P51 | IOSTANDARD = LVTTL;
NET "display_seg<1>" LOC = P41 | IOSTANDARD = LVTTL;
NET "display_seg<2>" LOC = P35 | IOSTANDARD = LVTTL;
NET "display_seg<3>" LOC = P33 | IOSTANDARD = LVTTL;
NET "display_seg<4>" LOC = P30 | IOSTANDARD = LVTTL;
NET "display_seg<5>" LOC = P27 | IOSTANDARD = LVTTL;
NET "display_seg<6>" LOC = P24 | IOSTANDARD = LVTTL;
NET "display_seg<7>" LOC = P22 | IOSTANDARD = LVTTL;

NET "display_sel<0>" LOC = 124 | IOSTANDARD = LVTTL;
NET "display_sel<1>" LOC = 127 | IOSTANDARD = LVTTL;
NET "display_sel<2>" LOC = 132 | IOSTANDARD = LVTTL;"

NET "target<0>" LOC = P50 | IOSTANDARD = LVTTL;
NET "target<1>" LOC = P40 | IOSTANDARD = LVTTL;
NET "target<2>" LOC = P31 | IOSTANDARD = LVTTL;
NET "target<3>" LOC = P32 | IOSTANDARD = LVTTL;
NET "target<4>" LOC = P29 | IOSTANDARD = LVTTL;
NET "target<5>" LOC = P26 | IOSTANDARD = LVTTL;
NET "target<6>" LOC = P23 | IOSTANDARD = LVTTL;
NET "target<7>" LOC = P21 | IOSTANDARD = LVTTL;

NET "target<8>" LOC = P16 | IOSTANDARD = LVTTL;
NET "target<9>" LOC = P14 | IOSTANDARD = LVTTL;
NET "target<10>" LOC = P11 | IOSTANDARD = LVTTL;
NET "target<11>" LOC = P9 | IOSTANDARD = LVTTL;
NET "target<12>" LOC = P7 | IOSTANDARD = LVTTL;
NET "target<13>" LOC = P5 | IOSTANDARD = LVTTL;
NET "target<14>" LOC = P1 | IOSTANDARD = LVTTL;
NET "target<15>" LOC = P143 | IOSTANDARD = LVTTL;